<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss}] [%t/%level] [%logger]: %msg{nolookups}%n}"/>
        </Console>
        <RollingRandomAccessFile name="LogFile" fileName="logs/debug.log" filePattern="logs/info-%i.log.gz">
            <PatternLayout pattern="[%d{dd.MM.yy HH:mm:ss}] [%t/%level] [%logger]: %msg{nolookups}%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="LogFile" level="info"/>
        </Root>
    </Loggers>
</Configuration>